extends inc/page.pug
block template
  :php
    /*
    Template Name: Home Page
    */
block content
  article.content.home
    section.marquee(data-bg="pic-needle.jpg")
      .container
        .row
          .col-md-6
          .col-md-6
            h1
              :php
                echo get_field("page_headline");
            h2
              :php
                echo get_field("page_tagline");
            :php
              echo "<a class='button cta main' href='".get_field("main_button_target")."'>".get_field("main_button_label")."</a>";
    :php
      foreach(get_field("sections") as $key=>$section) {
        echo "<section class='".$section["background_color"]."'>";
    .container
      .row
        :php
          $headers = $section["section_headline"] != "" ? "<h2>".$section["section_headline"]."</h2>" : "";
          $headers = $section["section_subhead"] != "" ? $headers."<h3>".$section["section_subhead"]."</h3>" : $headers; 
          $cta = $section["section_button_label"] ? "<a class='button' href='".$section["section_button_target"]."'>".$section["section_button_label"]."</a>" : "";
          if ($section["section_picture"]) {
            $picrow = "<div class='col-md-6'><div class='pic align-".$section["section_picture_orientation"]."' data-bg-object='".json_encode($section["section_picture"], JSON_UNESCAPED_SLASHES)."'></div></div>";
            $textrow = "<div class='col-md-6'>".$headers.$section["section_content"].$cta."</div>";
            echo $section["section_picture_orientation"]=="left" ? $picrow.$textrow : $textrow.$picrow;
          }
          else {
            echo "<div class='col-md-12'>".$headers.$section["section_content"].$cta."</div>";
          }
    :php
      echo "</section>";
      }
