<<<<<<< HEAD
.inner
  h2 Download our Buyer's and Seller's Guide Now!
  for button in locals
    a.button.bottom-cta(href=button.url, target="_blank")!=button.label
=======
.inner
  h2 Download our Buyer's and Seller's Guide Now!
  for button in locals
    a.button.bottom-cta(href=button.url, target="_blank")!=button.label
>>>>>>> f302dda5d06cf75ec4bb7dbe1ea6ca7b13eaa952
