.inner
  h2 Download our Buyer's and Seller's Guide Now!
  a.button.bottom-cta(href="/wp-content/themes/thebeuschers/images/TheBeuschers.BuyersPack.2.25.18.pdf", target="_blank") Buyer's Guide
  a.button.bottom-cta(href="/wp-content/themes/thebeuschers/images/TheBeuschers.SellersPack2.24.18.pdf", target="_blank") Seller's Guide
