footer
  .footer-top
    .container
      .row
        .col-md-12.footer-menu
          nav
            ul.hmenu
              li
                a(href="/") Home
              li
                a(href="buyers") Buyers
              li
                a(href="sellers") Sellers
              li
                a(href="Vendors") Vendors
              li
                a(href="blog") Blog
              li
                a(href="contact") Contact
        .col-md-12
          h2 John Beuscher
          ul.hmenu
            li
              a(href='tel:1-206-409-2244')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-phone
                span 1-206-409-2244
            li
              a(href='mailto:johnnyb@windermere.com')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-envelope
                span johnnyb@windermere.com
        .col-md-12
          h2 Barbara Beuscher
          ul.hmenu
            li
              a(href='tel:1-206-409-2244')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-phone
                span 1-206-409-2243
            li
              a(href='mailto:barbarab@windermere.com')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-envelope
                span barbarab@windermere.com
        .col-md-12
          img(src=themeDir+"images/windmere-logo-white.png")    
  .footer-bottom
    .container
      .row
        .col-sm-12
          p © 2017. The Beuschers. All rights reserved.
