header.main
  section.contact-header
    .container
      .row
        .col-md-4
          a.logo(href=locals.siteurl+'/')
            img(src=themeDir+"images/windmere-logo.png")    
        .col-md-4.visible-md.visible-lg
          h2 John Beuscher
          ul.hmenu
            li
              a(href='tel:1-206-409-2244')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-phone
                span 1-206-409-2244
            li
              a(href='mailto:johnnyb@windermere.com')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-envelope
                span johnnyb@windermere.com
        .col-md-4.visible-md.visible-lg
          h2 Barbara Beuscher
          ul.hmenu
            li
              a(href='tel:1-206-409-2244')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-phone
                span 1-206-409-2243
            li
              a(href='mailto:barbarab@windermere.com')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-envelope
                span barbarab@windermere.com
  section.main-header
    .container
      .row
        .col-md-4
          ul.hmenu.social-links
            li
              a(href='https://www.facebook.com/TheBeuschers/')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-facebook
            li
              a(href='https://twitter.com/thebeuschersRE')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-twitter
            li
              a(href='https://www.instagram.com/thebeuschers.re/')
                span.fa-1x.fa-stack
                  i.fa.fa-circle.fa-stack-2x
                  i.fa.fa-stack-1x.fa-inverse.fa-instagram
        .col-md-8.visible-md.visible-lg.right
          nav.small-nav
            ul.hmenu
              li
                a(href="/") Home
              li
                a(href="buyers") Buyers
              li
                a(href="sellers") Sellers
              li
                a(href="Vendors") Vendors
              li
                a(href="blog") Blog
              li
                a(href="contact") Contact
