-
  var menudata = [
      {
        label: "Home",
        url: "/",
        classname: "home"
      },
      {
        label: "Buyers",
        url: locals.siteurl+"buyers",
        classname: ""
      },
      {
        label: "Sellers",
        url: locals.siteurl+"sellers",
        classname: ""
      },
      {
        label: "Vendors",
        url: locals.siteurl+"vendors",
        classname: ""
      },
      {
        label: "Listings",
        url: "https://withwre.com/thebeuschers/listings/my-office-s-listings",
        classname: ""
      },
      {
        label: "Contact",
        url: locals.siteurl+"contact-us",
        classname: ""
      }]
mixin menuitem(item)
  li
    a(href=item.url,class=item.classname)=item.label
    if item.children
      ul
        each subitem in item.children
          +menuitem(subitem)  
mixin makemenu(data)
  ul
    each item in data
      +menuitem(item)