.blog-content {
  padding:0 0 3em;
  p {
    line-height:1.8;
  }
  h1,h2,h3,h4,h5,h6 {
    margin:1em 0 .25em;
    padding:0;
  }
}
.blog-comments {
  label {
    display:block;
    text-transform: uppercase;
    font-size:.7em;
  }
  .comment-notes {
    display:none;
  }
  .comment {
    background:$grey;
    padding:$gutter-width;
    margin-bottom:$gutter-width;
    font-size:1.2em;
    cite {
      margin-top:$gutter-width/2;
      display:block;
      font-style:italic;
      font-size:.8em;
    }
  }
}